@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gradient-to-r  from-gray-950  to-purple-950 text-white relative font-sans h-screen overflow-hidden font-space;
  }
}
